@tailwind base;
@tailwind components;
@tailwind utilities;

@import "icons.css";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  --mainColor: #7c3aec;
  --mainColor50: #7b3aec59;
  --whiteBg: #ece8fd;
  --textColor: rgb(129, 129, 129);
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #f4f2fe;
  overflow-x: hidden;
}
* {
  border: none;
}

main {
  width: 1200px;
  max-width: 100vw;
  margin: 0 auto;
}
p,
span {
  color: var(--textColor);
  font-weight: light;
  margin: 0.75em 0;
}
span {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0;
  margin: 0 auto;
  margin-bottom: 4em;
  width: 100vw;
  background-color: #f4f2feaa;
}
header .inner-container {
  width: 1350px;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-top: 1.5em;
}
.Header {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: rgb(51, 65, 85);
}
.Header a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5em;
  font-weight: normal;
  transition: opacity 0.25s ease-out, margin 0.25s ease-out,
    max-width 0.25s ease-out;
}
.Header > a {
  margin: 0 1.5em;
}
.Header a::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  content: "";
  border-bottom: 1px solid var(--mainColor);
  transition: width 0.25s ease-out;
}
.Header a.active {
  color: var(--mainColor);
}
.Header a:first-of-type {
  margin-left: 1em;
}
.Header a:hover .sub-menu {
  max-width: 400px;
  transition: max-width 0.75s ease-out, opacity 0.5s 0.25s ease-out,
    margin-left 0.75s ease-out;
}
.Header a:hover .sub-menu::before {
  height: 100%;
}
.Header a:not(.disable-hover):hover::before {
  width: 100%;
}
.Header a:not(:hover) .sub-menu {
  opacity: 0;
  max-width: 0;
  height: 0;
  margin: 0;
}
.sub-menu {
  position: relative;
  display: flex;
  font-size: 0.9em;
  color: var(--mainColor);
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 0.75em;
  transition: max-width 0.75s ease-out, opacity 0.5s ease-out,
    margin-left 0.75s ease-out;
}
.sub-menu::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border-left: 1px solid var(--mainColor);
  transition: height 0.35s 0.5s ease-out;
}
.sub-menu > a {
  margin: 0 0.25em;
  font-size: 0.95em;
}
.sub-menu > a:not(:last-of-type)::after {
  content: "|";
  font-size: 0.65em;
  margin-left: 0.5em;
}

.go-contact,
.contact-active {
  color: rgba(51, 65, 85);
  border-radius: 17px;
  border: 1px solid rgba(100, 116, 138);
  background-color: transparent;
  padding: 5px 10px;
  margin: 0 10px;
  font-weight: normal;
  cursor: pointer;
  opacity: 0.5;
  transition: border-color 0.15s ease-out, color 0.15s ease-out,
    opacity 0.15s ease-out;
}
.go-contact:hover,
.contact-active {
  border-color: var(--mainColor);
  color: var(--mainColor);
  opacity: 1;
}
.index-img {
  border-radius: 2.5em;
  width: 9.375em;
  height: 9.375em;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
section {
  display: flex;
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.identity {
  width: 50%;
  min-width: 350px;
  margin-bottom: 10em;
  height: 100%;
}
.identity p {
  width: 100%;
}
.about-me {
  flex: 1;
  min-width: 350px;
}
.social-networks {
  display: flex;
}
.social-networks p {
  font-size: 0.85em;
}
.social-networks a {
  margin: 0 0.5em;
}
.social-networks a:first-of-type {
  margin-left: 0;
}
.btn {
  display: inline-block;
  text-align: center;
  color: white;
  background-color: var(--mainColor);
  border-radius: 150px;
  padding: 0.75em;
  font-size: 1em;
  transition: color 0.25s ease-out, background-color 0.25s ease-out;
}
.btn-type-2 {
  padding: 0.5em 1.5em;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
}
.btn-type-1 {
  text-align: center;
  background-color: var(--whiteBg);
  color: var(--mainColor);
  border-radius: 150px;
  padding: 0.75em;
  font-size: 1em;
  width: fit-content;
  transition: color 0.25s ease-out, background-color 0.25s ease-out;
}
.btn:hover {
  color: var(--mainColor);
  background-color: var(--whiteBg);
}
.btn-type-1:hover {
  color: var(--whiteBg);
  background-color: var(--mainColor);
}
.btn-type-more {
  color: var(--mainColor);
  background-color: transparent;
  cursor: pointer;
  padding: 1em;
}
.btn-type-more-2 {
  position: relative;
  margin-top: 0;
  padding: 0.25em;
  display: inline-block;
  border-radius: 12px;
  transition: transform 0.25s ease-out;
}
.btn-type-more-2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  border-bottom: 1px solid var(--mainColor);
  transition: left 0.2s ease-out, width 0.2s ease-out;
}
.btn-type-more-2:hover::after {
  left: 0;
  width: 100%;
}
.section-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  min-width: 100%;
  padding: 0.75em;
  border-radius: 20px;
  margin-bottom: 0.5em;
  border: 1px solid var(--mainColor50);
  background-color: white;
  transition: box-shadow 0.15s ease-out;
}
.section-container h4 {
  min-width: 100%;
}
.article-container {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}
.article-container .btn {
  margin-bottom: 1.5em;
}
.section-container-name {
  flex: 1;
}
.section-container .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  background-color: whitesmoke;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1em;
}
.section-container:hover {
  cursor: pointer;
}
.section-container .date {
  font-style: italic;
  color: var(--textColor);
  opacity: 0.75;
}
.tags {
  min-width: 100%;
  color: var(--mainColor);
  margin-bottom: 0.5em;
  display: flex;
  flex-wrap: wrap;
}
.tags span {
  border-radius: 0.5em;
  margin: 0.25em;
  color: var(--mainColor);
  cursor: pointer;
  background-color: var(--whiteBg);
  padding: 0.25em 0.5em;
  font-size: 0.9em;
  white-space: nowrap;
}
.section-container > img {
  width: 100%;
  height: auto;
}
section article > p {
  min-width: 100%;
}
.img-container {
  max-height: 250px;
  overflow: hidden;
  border-radius: 1em;
  margin-bottom: 0.5em;
}
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--mainColor50);
}
.contact-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.contact-form input,
.contact-form textarea {
  border: 1px solid var(--mainColor50);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5em;
  font-weight: light;
  transition: box-shadow 0.35s ease-out, border 0.35s ease-out;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-weight: 250;
}
.contact-form button {
  display: block;
  padding: 0.5em 3em;
  margin: 0 auto;
  margin-bottom: 1em;
}
.mosaic {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.mosaic h3 {
  min-width: 100%;
}
.mosaic .section-container {
  flex: 1;
  min-width: 30%;
  margin: 0.5em;
  max-width: 700px;
}
.mosaic .tag-list {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0.75em 0;
}
.mosaic .tag-list button {
  border-radius: 0.5em;
  margin: 0.25em;
  color: var(--mainColor);
  cursor: pointer;
  background-color: var(--whiteBg);
  padding: 0.25em 0.5em;
  font-size: 0.9em;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
.mosaic .tag-list button.active {
  color: white;
  background-color: var(--mainColor);
}

@media screen and (max-width: 1000px) {
  .identity {
    position: initial;
  }
}

.daily .daily-img {
  width: 700px;
  max-width: 95%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-radius: 2.5em;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 30px;
}
.footer {
  color: #6c757d;
  padding: 40px 0;
  align-items: center;
  margin-top: 5em;
  box-shadow: 0 -3px 5px -5px rgba(0, 0, 0, 0.35);
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
  max-width: 90vw;
  margin: 0 auto;
}
.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  min-width: 300px;
}
.footer-about,
.footer-contact,
.footer-social {
  display: flex;
  flex-direction: column;
}
.footer-about p {
  text-align: justify;
  margin-top: 0;
}
.footer-section h4 {
  margin-bottom: 15px;
}

.footer-section p,
.footer-section a {
  margin: 0;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
}

.footer-bottom p {
  font-size: 14px;
  color: #6c757d;
}

.footer-title {
  margin-bottom: 10px;
  color: #7c3aec;
}

.footer-text {
  margin-top: 0;
  margin-bottom: 10px;
}
.separator {
  height: 2px;
  background-color: white;
  width: calc(100% + 30px);
  margin-left: -20px;
  margin-right: -20px;
}

.location {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}
.gps {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.stage-container {
  display: flex;
  flex-direction: column;
}
.stage-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.stage-description {
  flex-grow: 1;
}

.stage-image {
  flex-shrink: 0;
  margin-right: 10px;
}

.article {
  top: 0;
  left: 0;
}

@layer components {
  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-4xl font-medium;
  }

  h3 {
    @apply text-3xl font-medium;
  }

  h4 {
    @apply text-xl font-medium;
  }

  h5 {
    @apply text-lg font-bold;
  }

  h6 {
    @apply text-lg font-medium;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }
}
.project-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-page .tags {
  min-width: auto;
  margin-bottom: 2em;
}
.project-page .project-img-container > img {
  width: 100%;
}
.project-page .project-img-container {
  margin: 0 auto;
  margin-top: -10em;
  width: 1000px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  overflow: hidden;
  box-shadow: 0 -12px 20px black;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.project-page > h2 {
  text-align: center;
  width: 100%;
  background-color: #f4f2feaa;
  padding: 0.15em;
  position: sticky;
  z-index: 2;
  top: 2.025em;
  backdrop-filter: blur(2px);
  margin-bottom: 0em;
  font-family: "Bebas Neue";
  color: rgba(0, 0, 0, 0.8);
  font-size: 2.6em;
}
.project-page .project-img-container::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none;
  background: linear-gradient(180deg, #f4f2fe 0%, transparent 30%);
}

.project-page iframe {
  box-shadow: 0 2px 20px black;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin-top: 1em;
}
.project-page h3 {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.25em 1em;
  width: fit-content;
  margin: 0em auto;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  color: rgba(72, 72, 72);
}
.pdf-preview {
  border: 1px solid rgba(0, 0, 0, 0.5);
  min-width: 250px;
  margin: 0.5em;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}
.pdf-preview .react-pdf__Document,
.pdf-preview .react-pdf__Page,
.pdf-preview .react-pdf__Page > * {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  height: auto !important;
  max-height: inherit !important;
  min-height: inherit !important;
}
.pdf-preview > a {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  border-radius: 1em;
  padding: 1em;
  text-align: center;
  background-color: var(--mainColor);
  color: white;
  font-size: 0.8em;
  margin-bottom: 0 !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: var(--mainColor50);
  border-radius: 6px;
}
.flex-05 {
  flex: 0.5;
}
.text-left {
  text-align: left !important;
  padding-left: 0 !important;
}
.mb-0-imp {
  margin-bottom: 0 !important;
}
.h-400 {
  height: 400px;
  max-width: 90%;
  max-height: fit-content;
  margin: 0 auto;
  overflow: hidden;
}
.slick-dots {
  bottom: 0 !important;
}

.page-transition.mounted {
  opacity: 1;
}
.page-transition {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}
.page-transition.enter {
  opacity: 0;
}
.page-transition.enter-active {
  opacity: 0;
}
.page-transition.enter-done {
  opacity: 1;
}
.page-transition.exit-done {
  opacity: 1;
}
.page-transition.exit-active {
  opacity: 0;
}

.experience-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-top: 2.5em;
  margin-bottom: 5em;
}
.experience-container::before {
  content: "";
  position: absolute;
  top: 0.25em;
  bottom: 0.25em;
  left: calc(3em - 2px);
  border: 1px solid var(--mainColor);
  width: 5px;
  border-radius: 25px;
}
.experience-content {
  margin-left: -25px;
  padding-left: 4em;
}
.experience-container > img {
  position: sticky;
  top: 15em;
  margin-left: 1.5em;
  border-radius: 150px;
  border: 1px solid var(--mainColor);
}
.experience-container .year-begin {
  position: absolute;
  left: 1em;
  top: -1.25em;
  width: 4.75em;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
  font-size: 0.9em;
}
.experience-container .year-end {
  position: absolute;
  left: 1em;
  width: 4.75em;
  bottom: -1.25em;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
  font-size: 0.9em;
}
.img-dl-container {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--mainColor);
  margin-right: -10px;
  z-index: 2;
}
.img-dl-container ~ a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.85em 2.5em;
}
