@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import 'inter.css/components';*/

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  --mainColor: #7C3AEC;
  --mainColor50: #7b3aec59;
  --whiteBg: #ECE8FD;
  --textColor: rgb(129, 129, 129);
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
body{
  background-color:#F4F2FE;
}
*{
  border: none;
}

main{
  width: 80vw;
  margin: 0 auto;
}
p, span{
  color: var(--textColor);
  font-weight: light;
  margin: .75em 0;
}
span{
  margin: 0;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0;
  margin-bottom: 4em;
  width: 100%;
}
h1{
  margin-top: 1.5em;
}
.Header{
  width: 100%;
  flex: 1;
  display:flex;
  align-items: center;
  font-weight: 600;
  color: rgba(51, 65, 85);
}
.Header > a{
  margin: 0 1.5em;
  font-weight: normal;
}
.Header > a[aria-active=true]{
  color: var(--mainColor);
}
.Header > a:first-of-type{
  margin-left: 1em;
}
.go-contact, .contact-active{
  color: rgba(51, 65, 85);
  border-radius: 17px;
  border: 1px solid rgba(100, 116, 138);
  background-color: transparent;
  padding: 5px 10px;
  margin: 0 10px;
  font-weight: normal;
  cursor: pointer; 
  opacity: .5;
  transition: border-color .15s ease-out, color .15s ease-out, opacity .15s ease-out;
}
.go-contact:hover, .contact-active {
  border-color: var(--mainColor);
  color: var(--mainColor);
  opacity: 1;
}
.index-img{
  border-radius: 2.5em;       
  width: 9.375em;
  height: 9.375em;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
section{
  display: flex;
  width: calc(70vw - 1em);
  margin: 0 auto;
  flex-wrap: wrap;
}
section h1{
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: .25em;
}
.identity{
  width: 50%;
  min-width: 350px;
  margin-bottom: 10em;
  position: sticky;
  top: 5em;
  height: 100%;
}
.about-me{
  flex: 1;
  min-width: 350px;
}
.social-networks{
  display: flex;
}
.social-networks p{
  font-size: .85em;
}
.social-networks a{
  margin: 0 .5em;
}
.social-networks a:first-of-type{
  margin-left: 0;
}
.btn{
  flex: 1;
  color: white;
  background-color: var(--mainColor);
  border-radius: 150px;
  padding: .75em;
  margin: .75em;
  font-size: 1em;
  transition: color .25s ease-out, background-color .25s ease-out;
}
.btn-type-1{
  flex: 1;
  background-color: var(--whiteBg);
  color: var(--mainColor);
  border-radius: 150px;
  padding: .75em;
  margin: .75em;
  font-size: 1em;
  transition: color .25s ease-out, background-color .25s ease-out;
}
.btn:hover{
  color: var(--mainColor);
  background-color: var(--whiteBg);
}
.btn-type-1:hover{
  color: var(--whiteBg);
  background-color: var(--mainColor);
}
.btn-type-more {
  color: var(--mainColor);
  background-color: transparent;
  cursor: pointer;
  padding: 1em;
}
.align-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 2em);
}
section h2{
  font-weight: 550;
  font-size: 1.8em;
  min-width: 100%;
}
section h3{
  margin: 2em 0 1em 0;
  font-size: 1.6em;
  min-width: 100%;
}
.section-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 100%;
  padding: .75em;
  border-radius: 20px;
  margin-bottom: .5em;
  border: 1px solid var(--mainColor50);
  background-color: white;
  transition: box-shadow .15s ease-out;
}
.section-container-name{
  flex: 1;
}
.section-container .icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  background-color: whitesmoke;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1em;
}
.section-container:hover{
  cursor: pointer;
}
.section-container-name h6{
  font-size: 1.6em;
  font-weight: bold;
}
.section-container .date{
  font-style: italic;
  color: var(--textColor);
  opacity: .75;
}
.section-container .tags{
  min-width: 100%;
  color: var(--mainColor);
}
.section-container h4{
  min-width: 100%;
  text-align: left;
  font-size: 1.6em;
  color: black;
}
.section-container > img{
  width: 100%;
  height: auto;
}
section article{
  display: flex;
  flex-wrap: wrap;
}
section h4{
  flex: 1;
  text-align: center;
  color: var(--mainColor50);
}
.img-container{
  max-height: 250px;
  overflow: hidden;
  border-radius: 1em;
  margin-bottom: .5em;
}
.footer{
  text-align: center;
  color: var(--mainColor50);
}
.contact-form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.contact-form input, .contact-form textarea{
  border: 1px solid var(--mainColor50);
  background-color: rgba(255,255,255,.5);
  padding: .5em;
  font-weight: light;
  transition: box-shadow .35s ease-out, border .35s ease-out;
}
.contact-form input::placeholder, .contact-form textarea::placeholder{
  color: rgba(0,0,0,.25);
  font-weight: 250;
}
.contact-form button{
  display: block;
  padding: .5em 3em;
  margin: 0 auto;
  margin-bottom: 1em;
}
@media screen and (max-width:1000px){
  .identity{
    position: initial;
  }
}